* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.nav__logo--wrapper {
  width: 100%;
}

.nav__logo--img {
  width: 100%;
  max-width: 150px;
}

.nav__link--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav__link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #000; 
  padding: 0 1rem;
}

.nav__link::after {
  content: "";
  position: absolute;
  width: 50%; 
  transform: scaleX(0);
  height: 2px; 
  bottom: -5px; 
  left: 25%;
  background-color: #000;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav__contact--btn {
  padding: 16px 48px;
  transition: all 0.35s ease;
  border-radius: 50px;
  border: none;
  background-color: orangered;
  color: white;
  cursor: not-allowed;
}

.nav__contact--btn:hover {
  transform: scale(1.1);
}

.search__icon {
  width: 100%;
  max-width: 40px;
}


.search__page--icon {
  position: relative;
  right: 60px;
}

.landing__header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.landing__header--title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
  width: 55%;
}

.landing__header--subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem;
  text-align: center;
  width: 55%;
}

.input__wrapper {
  display: flex;
  align-items: center;
  width: 55%;
  margin-top: 40px;
}

.search__input--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search__input {
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #0a1f44;
  color: #0a1f44;
  display: inline-block;
  line-height: 40px;
  outline: none;
  padding: 12px 25px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  font-size: 24px;
}

.search-page--input {
  width: 50%;
  font-size: 1.5rem;
}

.search__header--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.search__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("./assets/banner.png");
  height: 350px;
}

.search__header--title {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
  width: 55%;
}


.landing__search--input {
  font-size: 1.3rem;
}

.search__btn {
  width: 200px;
  height: 70px;
  margin-left: 20px;
  font-size: 40px;
  color: #fff;
  border-radius: 20px;
  transition: all 0.25s ease;
  background-color: orangered;
  border: none;
  padding: 14px 48px;
  cursor: pointer;
}

.search__btn:hover {
  transform: scale(1.1);
}

.post {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
}

.post__title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding: 8px;
}

.post__title--skeleton {
  width: 80px;
  height: 12px;
  background-color: lightgray;
}


.post__body {
  padding: 0 8px;
}

.post__body--skeleton {
  width: 100%;
  height: 24px;
  background-color: lightgray;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

p {
  font-size: 14px;
  word-break: break-word;
}

.hidden {
  display: none;
}

.user-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.user {
  width: 25%;
}

.user-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user-card__container {
  padding: 2px 16px;
  line-height: 3rem;
  width: 100%;
  text-align: center;
}

.post-card {
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-card__container {
  padding: 2px 16px;
}

.back-btn {
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.post {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
}

.post__title {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding: 8px;
}

.genre {
  font-size: 16px;
  padding: 12px 0;
}

.post__title--skeleton {
  width: 80px;
  height: 12px;
  background-color: lightgray;
}


.post__body {
  padding: 10px;
}

.post__body--skeleton {
  width: 100%;
  height: 24px;
  background-color: lightgray;
}

.post__search {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.post__search--container {
  display: flex;
}

.post__search--label {
  padding-right: 8px;
}                                                                                                                                                                           

/* Add this to your CSS file */
.range-slider {
  display: flex;
  align-items: center;
}

.range-slider input[type="range"] {
  width: 800px;
  margin: 0 10px;
}

.range-slider span {
  font-weight: bold;
  margin: 10px;
}
.price__slider--title {
  padding: 0 24px;
}
.range {
  margin-right: 10px;
}
.range__slider {
  margin-right: 10px;
  width: 300px;
}

.attraction__img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.attraction__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

#attraction-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#events-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
}

.back-button {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  color: #fff; /* Text color */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.back-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.back-button:focus {
  outline: none; /* Remove focus outline */
}

.back-button:active {
  background-color: #004494; /* Even darker shade on click */
}